*{
    margin : 0;
    border : 0;
    box-sizing : border-box;
    user-select : none;
    -webkit-tap-highlight-color: transparent;
}

body{
    margin : 0;
    overflow-x : hidden;
    overflow-y : scroll;
}
